/* --- general css --- */
* { box-sizing: border-box; } 

html, body {
    height: 100%;
    margin: 0;
    background-color: saddlebrown;
}

h1 {
    font-family: 'Ultra', serif;
    color: whitesmoke;
    font-size: 50px;
    padding-top: 10px;
    filter: drop-shadow(8px 8px 5px black);
}

h4 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(3px 3px 4px black);
    font-size: 20px;
    padding: 5px 0 15px 0;
    text-transform: uppercase;
}

header {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
}

footer {
    background-color: saddlebrown;
    border-top: 6px solid sandybrown;
    padding: 20px 0px 10px 0px;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

p {
    color: saddlebrown;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

.hr-1 {
    max-width: 70%;
    filter: drop-shadow(2px 2px 5px black);
}

.hr-2 {
    border: 1px solid saddlebrown;
}

.sandColor {
    background: sandybrown;
}

.bloom {
    border-radius: 0%;
    opacity: 1.0;
    animation-name: picBloom;
    animation-duration: 2s;
}
@keyframes picBloom {
    from {border-radius: 50%; opacity: 0.0;}
    to {border-radius: 0%; opacity: 1.0;}
}

.headerBGimage {
    background-image: url("../images/woodPlankBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container {
    width:100%;
    max-width: 960px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.main-section {
    max-width: 960px;
    margin-bottom: 20px;
    padding: 10px;
}

.buttonDivMajor {
    width: 130px;
    min-height: 35px;
    background-color: #13598B;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    letter-spacing: 1px;
    filter: drop-shadow(1px 1px 1px saddlebrown);
    display: inline-block;
    cursor: pointer;
}

.buttonDivMinor {
    width: 130px;
    min-height: 35px;
    background-color: saddlebrown;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    letter-spacing: 1px;
    filter: drop-shadow(1px 1px 1px saddlebrown);
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    background-color: sandybrown;
    width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 16px;
    z-index: 99;
    filter: drop-shadow(1px 1px 4px saddlebrown);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dataDiv {
    min-width: 40px;
    min-height: 40px;
    border-radius: 8px;
    display: block;
    padding: 8px;
    background-color: saddlebrown;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 15px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiddenWord {
    max-width: 400px;
    border-radius: 12px;
    min-height: 50px;
    border: 3px solid saddlebrown;
    margin: 0 auto 5px auto;
    background-color: rgb(255, 183, 119);
    padding: 8px;
    text-align: center;
}

.dataDivOutput {
    min-width: 40px;
    min-height: 40px;
    padding: 8px;
    margin: 8px;
    background-color: sandybrown;
    display: block;
}

.bombDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.bombBGdiv {
    min-width: 25%;
    min-height: 50px;
    background-color: saddlebrown;
    border-radius: 8px;
}

.letterBG {
    background-image: url('../images/woodLetterBgSmall.jpg');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    margin: 0 2px 0 2px;
    text-align: center;
    border-radius: 4px;
}

#hiddenWordTitle {
    text-align: center;
    color: saddlebrown;
    font-size: 20px;
}

#hiddenWordHint {
    text-align: center;
    color: saddlebrown;
    font-size: 18px;
}

#iGuessOutput {
    min-width: 200px;
    min-height: 60px;
    color: saddlebrown;
    font-weight: bold;
}

#guessesRemaining {
    font-weight: bolder;
}

#oldWest {
    color: saddlebrown;
    font-size: 30px;
    font-weight: 600;
}

#bombDiv {
    width: 200px;
    height: 200px;
    border: 3px solid saddlebrown;
    border-radius: 50%;
    background-image: url("../images/tnt.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    width: 200px;
    height: 200px;
}

#wonOutput {
    font-size: 22px;
    color: green;
    font-weight: bold;
}

#lostOutput {
    font-size: 22px;
    color: rgb(194, 32, 32);
    font-weight: bold;
}

/* ---- @media queries --- */

@media screen and (max-width: 980px) {
/* --- defaults to general settings --- */
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

    h1 {
        padding-bottom: 22px;
        text-decoration: underline;
    }
    #justAnotherHangmanGame {
        display: none;
    }
}